<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]

  # Force use of https
  RewriteCond %{SERVER_PORT} 80
  RewriteRule ^(.*)$ https://aasafari.com/$1 [L,R=301]
</IfModule>