@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Licorice&family=Noto+Serif:wght@400;700&family=Square+Peg&family=Yanone+Kaffeesatz:wght@300;400&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Licorice&family=Noto+Serif:wght@400;700&family=Yanone+Kaffeesatz&display=swap');


$base-font: 'Lato',
sans-serif;
$serif-font: 'Noto Serif',
serif;
$thin-fonts: 'Yanone Kaffeesatz',
sans-serif;
$cursive-font: 'Licorice',
cursive;

$dancing-script: 'Dancing Script',
cursive;

$square-peg: 'Square Peg',
cursive;

.base-font {
  font-family: $base-font;
  font-weight: 400;
}

.serif-fonts {
  font-family: $serif-font;
  font-weight: 400;
}

.thin-fonts {
  font-family: $thin-fonts;
}

.cursive-fonts {
  font-family: $dancing-script;
}

$base-color: #333;
$gray-color: rgb(97, 96, 96);
$brand-color : #463313;
$orange-color : rgb(255, 197, 91);

.brand-color {
  color: $brand-color
}

.orange-color {
  color: $orange-color
}

.orange-bg {
  background: $orange-color
}

.brand-bg {
  background: $brand-color
}

body {
  color: $base-color;
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
}

.loading {
  margin-top: 50px;
  padding: 50px;
  text-align: center;

  .spinner {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-top: 30px;
    border-radius: 50%;
    border-left: 4px solid white;
    border-top: 4px solid $orange-color;
    border-right: 4px solid $orange-color;
    border-bottom: 4px solid $orange-color;
    animation: spin-loader 1s infinite linear;
  }
}

@keyframes spin-loader {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}